@import "tailwindcss";

@theme {
  --color-brand-light: #fef08a;
  --color-brand: #eab308;
  --color-brand-dark: #a16207;
  --color-slate-800: #27272a;
  --color-slate-900: #18181b;
}

@layer base {
  body {
    background-color: var(--color-slate-50, #f8fafc);
    color: var(--color-slate-900);
  }
}
