@import "tailwindcss";

@theme {
  --color-primary: #1F362E;
  --color-primary-dark: #12211C;
  --color-secondary: #9E5B40;
  --color-secondary-dark: #7A4631;
  --color-background: #F7F7F5;
  --color-foreground: #2A2A28;

  --font-sans: "Inter", var(--font-sans);
  --font-serif: "Playfair Display", var(--font-serif);
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
}
